{% extends 'basepage/basepage.html' %}
{% load static  %}

    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Offcanvas Menu Section Begin -->
    
    {% block content %}
        
       
    <section class="hero-section" >
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text">
                        <h1 style="color: brown;font-size: 70px;font-weight: bolder;text-shadow: 3px 3px #fff;">Hotel Red Rock</h1>
                        <h2 style="color: whitesmoke;">A Luxury Hotel in Joypurhat  Bangladesh</h2>
                        <p>Ensure safty, Relaxation and low-priced hotel rooms.</p>
                        <a href="#" class="primary-btn">Discover More</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                    <div class="booking-form" style="background: var(--weather)" >
                        <h3 >Book Your Room</h3>
                        <form action="{% url 'frontpage' %}" method="POST">
                            {% csrf_token %}
                            <div class="check-date">
                                <label for="date-in">Check In:</label>
                                <input type="date" class="date-input" id="date-in" name="check_in" required>
                            </div>
                            <div class="check-date">
                                <label for="date-out">Check Out:</label>
                                <input type="date" class="date-input" id="date-out" name="check_out" required>
                            </div>
                            <div class="select-option">
                                <label for="guest">Guests:</label>
                                <select name="guests" id="guest" class="form-select">
                                    <option value="1">1 Adult</option>
                                    <option value="2" selected>2 Adults</option>
                                    <option value="3">3 Adults</option>
                                    <option value="4">4 Adults</option>
                                    <option value="5">5 Adults</option>
                                    <option value="6">6 Adults</option>
                                </select>
                            </div>
                            <div class="select-option">
                                <label for="room">Room:</label>
                                <select name="rooms" id="room" class="form-select">
                                    <option value="1" selected>1 Room</option>
                                    <option value="2">2 Rooms</option>
                                    <option value="3">3 Rooms</option>
                                    <option value="4">4 Rooms</option>
                                    <option value="5">5 Rooms</option>  
                                </select>
                            </div>
                            <button type="submit">Check Availability</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider owl-carousel" style="z-index: -1;">
            
            {% for carousel in carousels  %}
                <div class="hs-item set-bg" data-setbg="{%if  carousel.image %} {{ carousel.image.url }} {% endif %}"></div>
            {% endfor %}
                
            <!-- <div class="hs-item set-bg" data-setbg="{% static 'img/hero/hero-1.jpg' %}"></div>
            <div class="hs-item set-bg" data-setbg="{% static 'img/hero/hero-2.jpg' %}"></div>
            <div class="hs-item set-bg" data-setbg="{% static 'img/hero/hero-3.jpg' %}"></div> -->
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Us Section Begin -->
    <section class="aboutus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <div class="section-title">
                            <span>About Us</span>
                            <h2>Hotel Red Rock <br />Residential Hotel in Joypurhat.</h2>
                        </div>
                        <p class="f-para">Hotel Red Rock is one of the best Residential Hotel In Joypurhat, Bangladesh</p>
                        <p class="s-para">The relaxation, Destination.</p>
                        <a href="#" class="primary-btn about-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-pic">
                        <div class="row">
    
                            <div class="col-sm-6">
                                <img src="{{ MONOGRAM.url }}" alt="" width="300px" height="500px">
                            </div>
                            <div class="col-sm-6">
                                <img src="{{ MONOGRAM_ENG.url }}" alt="" width="300px" height="500px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Section End -->

    <!-- Services Section End -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span></span>
                        <h2> Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
               
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-033-dinner"></i>
                        <h4>Catering Service</h4>
                        <p>We provide quality food night.</p>
                    </div>
                </div>
               
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-024-towel"></i>
                        <h4>Laundry</h4>
                        <p>Our staffs help guest with laundry service if needed</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-012-cocktail"></i>
                        <h4>Car parking</h4>
                        <p> We provide underground car parking for reasonable rate.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Home Room Section Begin -->
    <section class="hp-room-section">
        <div class="container-fluid">
            <div class="hp-room-items">
                <div class="row" style="overflow-x: scroll;">
                    
                    {% for room_type in room_types %}
                        <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% if room_type.main_image %}{{ room_type.main_image.url}} {% endif %}">
                            <div class="hr-text">
                                <h2 style="color:brown">{{ room_type.name_eng }}</h2>
                                <!-- <h3 style="color:rgb(10, 92, 85)">Room ID:{{ room.room_no }}</h3> -->
                                <!-- <h3 style="color:brown">{{ room.room_type.name_eng }}</h3> -->

                                <h3 style="color:green">{{ room_type.price }}&#x09F3;<span>/Pernight</span></h3>
                                <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <!-- <tr>
                                            <td class="r-o">Size:</td>
                                            <td>{{room_type.size}} (sq ft)</td>
                                        </tr> -->
                                        <tr>
                                            <td class="r-o">Capacity:</td>
                                            <td>{{ room_type.occupancy }}</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed Type:</td>
                                            <td>
                                            {% for bed in room_type.bed_type.all %}
                                                {{ bed.name_eng }}-
                                            {% endfor %}
                                                
                                                </td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>{{ room_type.services }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                                <a href="{% url 'room_type_rooms' room_type.id  %}" class="primary-btn" style="color:brown">Explore Rooms</a>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                        
                    <!-- <div  class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% static 'img/room/room-b1.jpg' %}">
                            <div class="hr-text">
                                <h3>Double Room</h3>
                                <h2>2000&#x09F3;<span> /Pernight</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Size:</td>
                                            <td>30 ft</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Capacity:</td>
                                            <td>Max persion 5</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>King Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% static 'img/room/room-b2.jpg' %}">
                            <div class="hr-text">
                                <h3>Premium King Room</h3>
                                <h2>159&#x09F3;<span>/Pernight</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Size:</td>
                                            <td>30 ft</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Capacity:</td>
                                            <td>Max persion 5</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>King Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% static 'img/room/room-b3.jpg' %}">
                            <div class="hr-text">
                                <h3>Deluxe Room</h3>
                                <h2>3000&#x09F3;<span>/Pernight</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Size:</td>
                                            <td>30 ft</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Capacity:</td>
                                            <td>Max persion 5</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>King Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% static 'img/room/room-b4.jpg' %}">
                            <div class="hr-text">
                                <h3>Family Room</h3>
                                <h2>4000&#x09F3;<span>/Pernight</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Size:</td>
                                            <td>30 ft</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Capacity:</td>
                                            <td>Max persion 5</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>King Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Home Room Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Testimonials</span>
                        <h2>Customers Reviews</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="testimonial-slider owl-carousel">
                        <div class="ts-item">
                            <p>The Hotel Red Rock in Joypurhat is the best hotel I ever stayed.It's beautiful rooms and it's decoration ws excellent. I am overwhelemed by their hospitalily and friendly manner. it was very luxarious to stay </p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <h5> - Tarique Sumon</h5>
                            </div>
                            <img src="{% static 'img/testimonial-logo.png' %}" alt="">
                        </div>
                        <div class="ts-item">
                                                        <p>Surely The Hotel Red Rock in Joypurhat is the best hotel I ever stayed.It's beautiful rooms and it's decoration ws excellent. I am overwhelemed by their hospitalily and friendly manner. it was very luxarious to stay </p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <h5> -Abu Hasnat</h5>
                            </div>
                            <img src="{% static 'img/testimonial-logo.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Blog Section Begin -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Hotel News</span>
                        <h2>Our Blog & Event</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="blog-item set-bg" data-setbg="{% static 'img/blog/blog-1.jpg' %}">
                        <div class="bi-text">
                            <span class="b-tag">Travel Trip</span>
                            <h4><a href="#">In Joypurhat, Bogura, Nagoan</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 15th April, 2019</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-4">
                    <div class="blog-item set-bg" data-setbg="{% static 'img/blog/blog-2.jpg' %}">
                        <div class="bi-text">
                            <span class="b-tag">Camping</span>
                            <h4><a href="#">Choosing A Static Caravan</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 16th Decemeber, 2025</div>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-4">
                    <div class="blog-item set-bg" data-setbg="{% static 'img/blog/blog-3.jpg' %}">
                        <div class="bi-text">
                            <span class="b-tag">Event</span>
                            <h4><a href="#">Momo Inn</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 16th Decemeber, 2025</div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
    
{% endblock content %}
