<div class="offcanvas-menu-overlay"></div>
    
    <div class="offcanvas-menu-wrapper" >
        
        <div class="search-icon  search-switch">
            <i class="icon_search"></i>
        </div>
        <div class="header-configure-area">
            <div class="language-option">
                <img src="{{ LOGO.url }}" alt="">
                <span>EN <i class="fa fa-angle-down"></i></span>
                <div class="flag-dropdown">
                    <!-- <ul>
                        <li><a href="#">Zi</a></li>
                        <li><a href="#">Fr</a></li>
                    </ul> -->
                </div>
            </div>
            <a href="{% url 'rooms_view' %}" class="bk-btn">Booking Now</a>
        </div>
        <nav class="mainmenu mobile-menu">
            <div class="canvas-close">
                <i class="icon_close"></i>
            </div>
            <ul>
                <li class="active"><a href="{% url 'frontpage' %}">Home</a></li>
                <li class="dropdown"><a style="color: #000;" href="#" onclick="toggleMobileDropdown(event);">Rooms</a>
                                     <ul class="dropdown">
                                        
                                        {% for room_type  in room_types %}
                                            <li><a  href="{% url 'room_type_rooms' room_type.id  %}">{{ room_type.name_eng }}</a></li> 
                                        {% endfor %}
                                            
                                            
                                        </ul>
                </li>                
                <li><a href="{% url 'find_booking' %}">Find Booking</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                {% comment %} <li><a href="./blog.html">News</a></li> {% endcomment %}
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
                    <div class="top-social">
                                <a href="https://www.facebook.com/p/Hotel-Red-Rock-Joypurhat-61554155192749/"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.facebook.com/p/Hotel-Red-Rock-Joypurhat-61554155192749/"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/p/Hotel-Red-Rock-Joypurhat-61554155192749/"><i class="fa fa-tripadvisor"></i></a>
                                <a href="https://www.facebook.com/p/Hotel-Red-Rock-Joypurhat-61554155192749/"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.facebook.com/watch/?v=929621535616302"><i class="fa fa-youtube-play"></i></a>

                    </div>
        <ul class="top-widget">
            <li> <a href="tel:01786272762" style="color:#000;"><i class="fa fa-phone"></i>01786272762</a></li>
            <li> <a href="mailto:hotelredrock3@gmail.com" style="color:#000;"><i class="fa fa-envelope"></i>hotelredrock3@gmail.com</a></li>
                   
        </ul>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section" style="background: var(--card);">
        <div class="top-nav" style="background: var(--card);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                            <li><i class="fa fa-phone"></i> <a href="tel:01786272762" style="color:white;">01786272762</a></li>
                            <li><i class="fa fa-envelope"></i> <a href="mailto:hotelredrock3@gmail.com" style="color:white;">hotelredrock3@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <div class="bk-btn" >
                                <a href="https://www.facebook.com/p/Hotel-Red-Rock-Joypurhat-61554155192749/" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.facebook.com/p/Hotel-Red-Rock-Joypurhat-61554155192749/" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/p/Hotel-Red-Rock-Joypurhat-61554155192749/" target="_blank"><i class="fa fa-tripadvisor"></i></a>
                                <a href="https://www.facebook.com/p/Hotel-Red-Rock-Joypurhat-61554155192749/" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.facebook.com/watch/?v=929621535616302" target="_blank"><i class="fa fa-youtube-play"></i></a>
                            </div>
                            <a href="{% url 'rooms_view' %}" class="bk-btn">Booking Now</a>
                            <div class="language-option">
                                <img src="{{ LOGO.url }}" alt="" >
                                <span>EN <i class="fa fa-angle-down"></i></span>
                                <div class="flag-dropdown">
                                    <ul>
                                        <li><a href="#">Zi</a></li>
                                        <li><a href="#">Fr</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item" style="background: var(--weather);z-index: 1;">
            <div class="canvas-open">
                <i class="icon_menu"></i>
            </div>
            <div class="container"  >
                <div class="row">
                    <div class="col-lg-2" style="background: transparent;position: absolute;z-index: 1000;">
                        <div class="logo">
                            <a href="{% url 'frontpage' %}">
                                <table>
                                    <tr>
                                        <td><img src="{{ LOGO.url }}" alt="" style="width: 100px; height: auto;"> </td>
                                    </tr>
                                </table>

                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10" style=" background: transparent">
                        <div class="nav-menu">
                            <nav class="mainmenu" >
                                <ul >
                                    <li class="active"><a style="color: #fff;" href="{% url 'frontpage' %}">Home</a></li>
                                    <li class="dropdown"><a style="color: #fff;" href="#" onclick="return false;">Rooms</a>
                                     <ul class="dropdown">
                                        
                                        {% for room_type  in room_types %}
                                            <li><a  href="{% url 'room_type_rooms' room_type.id  %}">{{ room_type.name_eng }}</a></li> 
                                        {% endfor %}
                                            
                                            
                                        </ul>
                                    </li>
                                    <li><a style="color: #fff;" href="{% url 'find_booking' %}">Find Booking</a></li>
                                    <li><a style="color: #fff;" href="{% url 'about' %}">About Us</a></li>
                                    {% comment %} <li><a style="color: #fff;" href="./pages.html">Pages</a>
                                        <ul class="dropdown">
                                            <li><a  href="{% url 'room_details' 1 %}">Room Details</a></li>
                                            <li><a  href="./blog-details.html">Blog Details</a></li>
                                            <li><a href="#">Family Room</a></li>
                                            <li><a href="#">Premium Room</a></li>
                                        </ul>
                                    </li> 
                                    <li><a style="color: #fff;" href="./blog.html">News</a></li>{% endcomment %}
                                    <li><a style="color: #fff;" href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </nav>
                            <div class="nav-right search-switch">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <script>
    function toggleMobileDropdown(event) {
        event.preventDefault();
        const li = event.target.closest('li.dropdown');
        if (li) {
            const submenu = li.querySelector('ul.dropdown');
            if (submenu) {
                submenu.style.display = submenu.style.display === 'none' ? 'block' : 'none';
            }
        }
    }
    </script>